@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Schoolbell&display=swap');

*{
    font-family: "Schoolbell", cursive;
}

body {
    margin: 0;
    padding: 0;
    color: #161B32;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 144px;
    color: white;
}

.logo {
    width: 200px;
    font-weight: bold;
}

.nav-button {
    display: flex;
    transform: rotate(-0.88deg);
    padding: 16px 64px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #7184BE;
    background: #FFF;
    box-shadow: 8px 8px 0px 0px #BAC1E1;
    transition: all;
    transition-duration: 0.3ms;

}

.nav-button:hover {
    transform: translate(-4px,-4px);
    box-shadow: 8px 8px 0px 0px #BAC1E1;
    background: #fbfcff;;
}
.nav-button:active{
    transform: translate(-0px,-0px);
    box-shadow: 2px 2px 0px 0px #BAC1E1;
}
.container{
    padding: 24px 96px;
}


.hero-section{
    display: flex;
    flex-direction: column;
    padding: 96px;
    align-items: center;
    gap: 48px;
    overflow: hidden;
    border-radius: 40px;
    border: 4px solid #364587;
    background: url(./assets/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.game-logo{
    width: 224px;
}

.cards-images{
    align-self: center;
    width: 120%;
    border-radius: 16px;
}

.meta-game-items{
    margin-top: -48px;
    display: flex;
    gap: 48px;
}

.game-item{
    display: flex;
    align-items: center;
    gap: 8px;
}
.hero-text{
    text-align: center;
    font-size: 24px;
}

.cta-button{
    display: flex;
    transform: rotate(-0.88deg);
    padding: 16px 64px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: #FFE26A;
    box-shadow: 8px 8px 0px 0px #7A6719;
    cursor: pointer;
    transition: all;
    transition-duration: 0.2ms;
}
.cta-button:hover {
    transform: translate(-4px,-4px);
    
}
.cta-button:active {
    transform: translate(-0px,-0px);
    box-shadow: 2px 2px 0px 0px #7A6719;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.footer-right{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-svg:hover{
    transform: scale(1.1);
}

.footer-container{
    margin-top: 48px;

    border-top: 1px solid #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 96px;
    color: white;
}
.footer-logo{
    width:96px;
}
.footer-svg{
    cursor: pointer;
}
.footer-text{
    color: rgba(75, 85, 99, 0.72);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

@media (max-width: 800px) {
    .navbar {
        padding: 24px 48px;
        color: white;
    }

    .hero-section{
        padding: 48px;
    }

    .container{
        padding: 24px 48px;
    }

    .logo {
        width: 120px;
    }
    .footer-container{
        margin-top: 8px;
        flex-direction: column;
        padding: 0 24px;
        align-items: center;
        gap: 24px;
        color: white;
        border-top: none;
        margin-bottom: 24px;

    }
    .footer-logo{
        width:96px;
    }
    .footer-svg{
        cursor: pointer;
    }


    .footer-text{
        color: rgba(75, 85, 99, 0.72);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
    }

    .footer-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 500px) {
    .navbar {
        padding: 24px 24px;
        color: white;
    }

    .hero-section{
        padding: 24px 24px 48px 24px;
        align-items: center;      
        border-radius: 0;
        border: none;
}
    
    .container{
        padding: 24px 0;
    }

    .logo {
        width: 120px;
    }
    .meta-text{
        font-size: 16px;
    }

    .meta-game-items{
        margin-top: -24px;
        justify-content: space-around;
    }
    .meta-img{
        width: 32px;
    }
    .game-item{
        flex-direction: column;
    }

}
